name: Tests
on:
  push:
    branches: [ master, development ]
  workflow_dispatch:

jobs:
  test-linux:
    runs-on: ubuntu-latest
    container: ubuntu:rolling
    name: Build and test on ubuntu
    steps:
      - name: Install deps
        run: |
          apt update
          apt install -y libnghttp2-dev libssl-dev libasio-dev gcc g++ \
            build-essential cmake git
      - uses: actions/checkout@v6
      - name: Fix git ownership
        run: |
          git config --global --add safe.directory $(pwd)
      - name: Build
        run: |
          mkdir build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release
          make -j $(nproc)
      - name: Test
        run: |
          cd build
          make -j $(nproc) test
  test-windows:
    runs-on: windows-latest
    name: Build and test on Windows
    steps:
      - uses: actions/checkout@v6
      - name: Install conan
        run: |
          pip install conan
      - name: Grab conan_provider.cmake
        run: |
          mkdir build
          cd build
          C:/msys64/usr/bin/wget.exe https://github.com/conan-io/cmake-conan/raw/refs/heads/develop2/conan_provider.cmake
      - name: Build
        run: |
          cd build
          dir
          cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_PROJECT_TOP_LEVEL_INCLUDES="./conan_provider.cmake"
          cmake --build .
      - name: Test
        run: |
          cd build
          cmake --build - --target test
