name: Doxygen build
on:
  push:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  doxygen:
    runs-on: ubuntu-latest
    container: ubuntu:rolling
    steps:
      - name: Install deps
        run: |
          apt update
          apt install -y libnghttp2-dev libssl-dev libasio-dev gcc g++ \
            build-essential cmake git python3 python3-pip lcov
          pip3 install --break-system-packages conan
      - uses: actions/checkout@v6
      - name: Fix git ownership
        run: |
          git config --global --add safe.directory $(pwd)
      # Not used for generating docs, but required due to how the conan setup is configured
      # TODO: figure out if there's an easier way to check if we should include conan
      - name: Install Conan
        uses: conan-io/setup-conan@v1
      - name: Install doxygen
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen graphviz
      - name: Generate docs
        run: |
          mkdir build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release -DENABLE_CONAN=ON -DMAGPIE_DOCS=ON
          make -j $(nproc) doxygen
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'build/html'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
